body{
	background-color: #ffffff;
}

#top_div{
	position : absolute;
	width : 95%;
	height : 15%;
	top : 0%;
	left : 5%;
	background-color : #5B2CE9;
	
	
}

#main_text{
	position : absolute;
	top : 13%;
	left : 3%;
	color : white;	
	font-size : xxx-large;
	font-weight : 900;
	transform: translate(0%, 0%);
	background-color : #5B2CE9; 
	border:none; /*버튼 테두리 없애기*/
	
}
#id{  /*id */
	position : absolute;
	left : 90%;
	top : 3	%;
	transform: translate(0%, 0%);
    
	color : white;
	font-size : x-large;
	font-weight : bold; 
}
